
body {
  --navLogoColor: hsl(188, 78%, 41%);
  --navLogoColorHover: hsl(188, 78%, 33%);
  --codetag-color: hsl(332, 79%, 36%);
  --navLinkColor: hsl(0, 0%, 0%);
  --navLinkColorVisited: hsla(0, 0%, 0%, .5);
  --buttonBackgroundColor: hsl(0,0%,100%);  
}

- /* link hover underline reset */
li:hover{
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


.index__mainWrapper {
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: 100px 1fr ;
  grid-gap: 10px;
  grid-template-areas:
    'topNav'
    'mCol';
  height: 100vh;
}

.allPages__topNav {
  display: flex;
  justify-content: space-between;
  font-size: 18px; 
  grid-area: topNav;
}

.allPages__topNav-Name {
  display: inline-block;
  margin-left: 10px;
  padding-bottom: 2px;
}

.allPages_topNavLinks-layout {
  display: inline-flex;
  list-style: none;
}

.allPages_topNavLinks-layout li {
  margin-right: 10px;
  padding-bottom: 2px;
  height: 25px;
}

.projects__topNavLink li:hover {
  height: 35px;
}


a {
  color: var(--navLinkColor);
}

.allPages_topNavLinks-layout li:hover {
  border-bottom: 1px solid black;
}

.allPages_topNavLinks-layout li a:visited {
  color: var(--navLinkColorVisited)
}

.allPages__topNavLinks {
  text-decoration: none;
}

.index__middleCol {
  grid-area: mCol;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-row-gap: 10px;
  z-index: 1;
  max-height: 100vh;
}

.index__mainText {
  font-size: 3vmax
}

.index__lookproject {
  font-size: 2vmax;
  text-align: center;
}

.index__projectForm {
  text-align: center;
}

.index__projectButton {
  font-size: 2.5vmax;
  border-radius: 5px;
  background-color: var(----buttonBackgroundColor);
  box-shadow: 3px 5px 1px grey;
}


/* Projects Page */
.projects__mainWrapper{
  height: 100vh;
}

.projects__title {
  text-align: center;
  font-size: 4vmax;
}

.projects__sectionTitles{
  font-size: 3vmax;
}

.projects__cardProjects {
  display: grid;
}

.projects-card-layout {
  display: inline-block;
  padding-top: 10px;
}

.card-img-top {
  max-height: 156px;
}

.projects__ReactWrapper,
.projects__htmlCSSWrapper,
.projects__D3Wrapper, 
.projects__mongodbAndExpressWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projects_MongoDB_card_height {
  min-height: 147px;
}

/* blogMain.html small breakpoint desk/labtops*/
.mainBlog_body {
  font: 1.2rem 'Lato', sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "mainBlog-header mainBlog-header" 
    "mainBlog-blog mainBlog-blog";
}

.mainBlog__header-layout {
  padding: 0;
  margin-top: 10px;
  grid-area: mainBlog-header;
}

.mainBlog__headerLogoWrapper-lMargin {
  -webkit-padding-start: 25px;
  margin: 7px 0 0 0;
}

.mainBlog__nav-list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.mainBlog__nav-list li a {
  font-size: 5vmax;
  color: var(--navLogoColor);
  text-decoration: none;
}

.mainBlog__nav-list li a:hover {
  font-size: 6vmax;
  color: var(--navLogoColorHover);
}


#mainBlog__LnavItems {
  font-size: 3rem;
}

.mainBlog__navItems {
  font-size: 2.5rem;
  text-decoration: none;
  text-align: center;
  padding-left: 15px;
}

.mainBlog__navItems:visited {
  color: var(--visited-color);
}

.mainBlog__navItems:hover {
  color: var(--hover-color);
}

#main__headerLogo {
  width: 75px;
  height: 45px;
}

.mainBlog__blog-title {
  text-align: center;
  font-size: 6vmax;
  margin-bottom: 10px;
}

.mainBlog__blogWrapper {
  grid-area: mainBlog-blog;
}

.mainBlog__main-layout {
  width: 95%;
  height: auto;
  font-size: 1.5rem;
  margin: 0 auto;
  border: 3px solid var(--block-color);
  background-color: var(--mainBlog-bkgrd);
  padding-bottom: 20px;
  margin-bottom: 30px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.mainBlog__main-layout h2 {
  font-size: 2rem;
  -webkit-margin-after: 0.5rem;
}

.mainBlog__main-layout h3 {
  font-size: 1rem;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.mainBlog__main-layout h4 {
  -webkit-margin-before: 0;
  font-size: .8rem;
}

.mainBlog__title {
  text-align: center;
}

.mainBlog__bodyText {
  margin: 0 1%;
  line-height: 1.5;
}

.mainBlog__bodyText_listItem {
  list-style: none;
}

.mainBlog__bodyText_listItem li {
  text-align: center;
  margin-left: -40px;
}

p code {
  color: var(--codetag-color);
}

.MainBlog_codeText_brown {
  color: brown;
  font-weight: bold;
}

.MainBlog_codeText_green {
  color: darkgreen;
  font-weight: bold;
}

.MainBlog_codeText_purple {
  color: purple;
  font-weight: bold;
}

.mainBlog__topMargin {
  margin-top: 15px;
}

.mainBlog__img_center {
  text-align: center;
}

.mainBlog__img_responsive {
  max-width: 100%;
  height: auto;
}

.mainBlog_codeLayout {
  background-color: var(--project-text);
}

code {
  display: block;
  background-color: var(--project-text);
  padding-left: 5%;
}

#test {
  margin: 0 auto;
  width: 90%
}

.mainBlog__button-collaspe {
  text-align: center;
  margin-bottom: 10px;
}



/* blogMain.html small breakpoint mobile devices*/
@media only screen and (min-width: 320px) and (min-height: 550px) and (-webkit-min-device-pixel-ratio: 2) {
  #mainBlog__header-layout {
    padding: 20px 0 10px 10px;
  }

  .index__header-layout {
    min-height: 5rem;
    left: 0;
  }

  #mainBlog__LnavItems {
    font-size: 3.5rem;
  }

  #main__headerLogo {
    width: 100px;
    height: 60px;
  }

  .mainBlog__blogWrapper {
    margin-top: 70px;
  }

  .mainBlog__main-layout h2 {
    font-size: 6.5rem;
  }

  .mainBlog__main-layout h3 {
    font-size: 3rem;
  }

  .mainBlog__bodyText {
    font-size: 3.5rem;
    line-height: 8rem;
  }

  .mainBlog__img_center img {
    width: 90%;
  }
}


@media (min-width: 768px) {
  /* index page med breakpoint 768px */
  .allPages__topNav {
    font-size: 24px;
  }

    /* mainBlog page med breakpoint 768px */
    .mainBlog_body {
    font: 1.2rem 'Lato', sans-serif;
    display: grid;
    grid-template-columns: 10fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "mainBlog-blog mainBlog-header" "mainBlog-blog mainBlog-header";
  }

  .mainBlog__header-layout nav {
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 100;
  }

  .mainBlog__nav-list {
    flex-direction: column;
    height: 100vh;
  }

  .mainBlog__nav-list li:nth-child(n + 2){
    padding-left: 8px;
  }

  .mainBlog__main-layout {
    width: 95%;
    margin: 0 auto;
    border: 3px solid var(--block-color);
    padding-bottom: 20px;
    margin-bottom: 30px;
  }

  .mainBlog__bodyText {
    line-height: 2;
  }
}

/* Breakpoints for large size 1024px */
@media (min-width: 1024px) {
  /* index page large breakpoint 1024px */

  /* mainBlog page large breakpoint 1024px */

  .mainBlog__main-layout {
    width: 80%;
    font-size: 24px;
  }

}

/* Breakpoints for extra large size 1200px */
@media (min-width: 1200px) {
  /* index page large breakpoint 1024px */

  .mainBlog__main-layout {
    width: 70%;
    font-size: 30px;
  }
}