//Footer and everything just below the gallery

.contact  {
	@extend %centered;
	@extend %marginCenter;
	width: 90%;
	padding-top: 75px;
	padding-bottom: 20px;

	@media #{$bk-medium} {
	  width: 70%;
	}

}

.contact-info {
	list-style: none;
	margin: auto;
	padding: 0;

	li{
	  @extend %centered;
	  list-style: none;
	  margin-top: 20px;
	}
}


.footer-name {
	display: inline-block;

	@media #{$bk-medium} {
	  width: 45%;
	  padding-left: 40px;
	}

}

.footer-back {
	display: inline-block;
	float: right;

	@media #{$bk-medium} {
	  display: none;
	}
}

.footer-nav  {
	display: none;

	@media #{$bk-medium} {
	  display: inline-block;
	  float: right;
	  width: 45%;
	  text-align: right;
	  margin: 0;
		@include all(16px, bold, $color-black);	 
	}

	li{
	  @include color($color-black);
	  @media #{$bk-medium} {
	  list-style: none;
	  display: inline-block;
	  padding-right: 40px;
	  }
	}

}
