//Gallery 

.body-images {
	width: 90%;
	@extend %marginCenter;
	@extend %centered;
	font-family: 'Source Sans Pro', sans-serif;
	
	@media #{$bk-medium} {		
	  &:nth-child(odd) {
	    display: inline-block;
	    width: 45%;
	    float: left;		
	  }
	
	  &:nth-child(even) {
	    display: inline-block;
	    width: 45%;
	    float: right;
	  }
	}
	
	&:nth-child(n) {
	  @media #{$bk-large} {
		width: 32.5%;
		margin-bottom: $margin-btm;
		padding: 0;
		overflow: hidden;
	  }
	}
	
	&:nth-child(3n+1) {
	  @media #{$bk-large} {
		float: left;
	  }
	}
	
	&:nth-child(3n+2) {
	  @media #{$bk-large} {
		float: none;
	  }
	}

	&:nth-child(3n+3) {
	  @media #{$bk-large} {
		float: none;
		margin-right: 20px;
	  }	
	}
}

.images  {
	width: 90%	
}