//Navigation and everything above the gallary with Clearfix at bottom

#nav-name {
	@media #{$bk-medium} { 
	  @include font-size(12px);
	}
	
	@media #{$bk-large} {
	  display: inline-block;
	  width: 45%;
	  float: left;
	  text-align: left;
	  padding-left: 50px;
	}
}

.nav-items {	
	padding: 0;
	
	@media #{$bk-medium} {
	  display: inline-block;
	  padding-right: 5px;
	  @include font-size(15px);
	  @include embed(marginCenter);
	}
	
	li{
	  list-style: none;
	  @extend %centered;
	  padding: 0;
	  
	  @media #{$bk-large} {
	    margin: 0;
		float: right;
		padding-right: 25px;
		@include font-size(18px);
	  }
	}
}


.banner {
	padding-top: 3px;
	@extend %centered;
	width: 90%;
	@extend %marginCenter;
}

.banner-image {
	display: block;	
	width: 230px;
	height: 150px;
	@extend %marginCenter;
	padding-right: 50px;
	
	@media #{$bk-medium} {
	  float: right;
	  @include embed(centered);	  
	}
	
	@media #{$bk-large} {
	  padding-right: 40px;
	  margin-right: 25px;
	}
}

.banner-text {
	@media #{$bk-medium} {
	  display: inline-block;
	  width: 60%;
	  float: left;
	  @include font-size(16px);
	}
	
	@media #{$bk-large} {
	  padding-top: 20px;	
	}
}


#main-header  {
	@extend %centered;	
}

/*clearfix*/

.clearfix::after {
content: " ";
display: table;
clear: both;
}