/* Survey page styles */

.photo{
  width: 60%;
  padding: 10px;
}

form {
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}


label.hide {
  display: none;
}

fieldset {
  border: white;
  text-align: center;
}

legend{
  margin: 0 auto;	
}

div.textHover{
  text-align: center;
}

select#albums{
  margin: 0 0 10px auto;  
}

textarea#favSong {
  margin: 10px 0 0 auto;  	
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	background: #D3D3D3;    
}

/*Added hover styles*/
p.textHover:hover,
.textHover:hover,
.albumHover:hover,
div.textHover:hover,
label.textHover:hover
{
  color: black;	
}

.container{
  text-align: right;
}
.newsletter{
  text-align: right;
}

#signUp{
	text-align: left;    
}


/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo{
    width: 40%;
  }
}
