 /* Main css file for Project */
*{
  font-family: Arial, Helvetica, sans-serif;
}

/* nav 320px breakpoint*/
.flexBox {
  display:flex;
  flex-flow: row wrap;  
  justify-content: space-between;
}

img{
  width: 1rem;
  height: 1rem;
  
}

.imgCenter{
  margin-left: 15%;
}

nav {  
  order: 1;
  background-color: #7470BD;
  flex: 1 0 auto;
  height: 3rem;
  width: 100%;
  font-size: 25px;
  vertical-align: middle;
  padding-top: 15px;
  color: white;
}

/* TM in the Nav left text */
sup{
  font-size: 8px;	
  vertical-align: super;	
}

#textRight{
  display: inline-block;
  float: right;
  padding-right: 15px;
  font-size: 25px;  
}

img#bell{
  position: relative;
  right: 5px;
	
}

div#circle {
  height: 6px;
  width: 6px;
  display: inline-block;
  background-color: #7FCA93;
  border-radius: 100%;
  position: relative;
  top: -12px;
  left: -8px;	
}

/* for the seperator in the right elements in nav */
span#vertLine {  
  border-right: solid 1px;  
  position: relative;
  margin-right: 3px;
}

span#myName {
  font-size: 16px;
  vertical-align: 3px;	
}

/* sidebar 320px breakpoint*/
.sidebar {  
  background-color: #4c516d;
  width: 100%; 
  height: 3rem;    
}

/* dashboard 320px breakpoint*/

.dashboard {  
  width: calc(100% - 20px);
  height: 4rem;
  font-size: 20px;
  padding-top: 0rem;
  padding-left: 11px;
  color: gray;
}

#searchBorder{    
  display: inline-block;
  float: right;
  padding-right: 20px;  
}

#mainSearch {
  border-radius: 5px;
  height: 23px;
  width: 110px;
  position: relative;
  top: -4px;
  left: 52px;
  resize: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-size: 15px;
    padding-top: 2px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 15px;
    padding-top: 2px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */   
    font-size: 15px;
    padding-top: 2px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 15px;
    padding-top: 2px;
}
::-ms-input-placeholder { /* Microsoft Edge */   
    font-size: 15px;
    padding-top: 2px;
}

#buttonHolder {
  display: inline-block;
  position: relative;
  left: 15px;
  top: -5px;
  height: 28px;
  width: 28px;
}


/*Alert 320px breakpoint*/
.alert {  
  width: 100%;  
  font-size: 14px;
  background-color: #7470BD;  
}

#alertText{
  display: inline-block;
  width: 90%;
}

.close{  
  float: right;
  padding-right: 5px;  
}

/*traffic chart and option 320px breakpoint*/
.webTraffic{   
  width: 100%;  
}

#trafficChoice,
#trafficOption,
#trafficName,
#trafficHour,
#trafficDay,
#trafficWeek,
#trafficMonth{
  display: inline-block;
}

#trafficChoice{  
  width: 100%;
  height: 1rem;
}

#trafficOption{
  margin: 0;
  width: 65%;
  float: right;
  text-align: right;
  font-size: 13px;
}

#trafficHour,
#trafficDay,
#trafficWeek,
#trafficMonth{  
  margin-right: 4px; 
  height: 14px;
  border-radius: 10px;
  background-color: initial; 
}

#trafficDay{
  background-color: #82C994;
}

/* daily traffic 320px breakpoint*/
.dailyTraffic{ 
  width: 100%;   
}


/* mobileUser 320px breakpoint*/
.mobileUser{  
  width: 100%;  
}

canvas#doughChart{  	
  max-height: 13rem;
  padding-left: 10px;
}

/* social stats 320px breakpoint*/
.socialStats {  
  width: 100%; 
  height: 5rem;
}

.socialNum{
  border: solid 1px;
}

.socialRight,
.socialDesc,
.socialName,
.socialNum,
.socialImg {
  display: inline-block;
}

.socialDesc{
  padding: 4px 10px;
  font-size: 13px;
}

.socialNum{  
  width: 31%;
  margin: 0 1px;
}

.socialName,
.socialCount {
  width: 40%;
}

.circle {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
  background-color: #6F70A0; 
  position: relative;
  bottom: 7px; 
}

.socialCount{
  font-size: 18px;
  color: gray;
}

.socialImg{
  height: 15px;
  width: 15px;
}

.twitterImg{
  position: relative;
  bottom: 3px;
  right: 3px;
}

.fbImg{
  position: relative;  
  bottom: 3px;
  right: 3px;
}

.googleImg{
  position: relative;  
  bottom: 3px;
  right: 3px;
}

.socialName {
  color: #7470BD;
  font-weight: bold;
  font-size: 12px;
}

/* new members 320px breakpoint*/
.newMembers{   
  width: 99%;
  height: 8rem;
  border: solid 1px;
  border-color: #7470BD;
  border-bottom: none;
}

.member{
  display: inline-block;
  font-size: 12px;
  width: 100%;
}

.memImg, 
.memEmail,
.memDate,
.memInfo{
  display: inline-block;
}

.memInfo{
  display: inline-block;
  width: calc(100% - 1.9rem);
}

.memDate {
  float: right;  
}

.memImg{
  width:  1.5rem;
  height: 1.5rem;
  border-radius: 10px;
}

.memEmail{
  color: #7470BD;
}

/* recent activity 320px breakpoint*/
.recentActivity {
  width: 99%;
  height: 12rem;
  border: solid 1px;
  border-color: #7470BD;  
}

.activeLog,
.activeDesc,
.arrowRight {
  display: inline-block;
}

.activeLog{
  width: 100%;
}

.actImg{
  margin-bottom: 5px;
}

.activeDesc{
  width: 85%;
  font-size: 12px;
}

.arrow{
  border: solid #7470BD;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  float: right;
  margin-right: 10px;
  margin-top: -3px;
  position: relative;
  top: -20px;
}

.right{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* messageUser 320px breakpoint*/

.messageUser{   
  width: 99%;
  height: 9rem;
  border: solid 1px;
  border-color: #7470BD;
}

#messageTitle{
  margin-left: 18px;
}

.recentTitle{
  display: inline-block;
}

#userSearch{    
  margin: 5px 18px;
  width: 90%;
  padding-left: 5px;
  border-radius: 3px;
}

#userMessage{
  margin: 5px 18px;
  width: 90%;
  resize: none;
  padding-left: 5px; 
  border-radius: 3px; 
}

#submitMessage{
  margin: 5px 18px;
  background-color: #7470BD; 
  border: 0;
  border-radius: 5px;
  width: 92%;
  color: white; 
}

/* settings 320px breakpoint*/
.settings {  
  width: 99%;
  height: 12rem;
  border: solid 1px;
  border-color: #7470BD; 
}

fieldset {
  border: 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 85px;
  height: 25px;
  left: 20px;
  top: 3px;
}

.switchEmail {
  left: 54px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #7470BD;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(59px);
  -ms-transform: translateX(59px);
  transform: translateX(59px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggleOn,
.toggleProfOn{
  display: inline-block;
  position: relative;
  color: white;
  top: 4px;
  left: 10px;   
}

.toggleOff,
.toggleProfOff {
  display: inline-block;
  position: relative;
  color: #7470BD;  
  top: 4px;
  left: 16px; 
  color: transparent; 
}

select {
  color: gray;
  border-radius: 5px;
  width: 93%;
  padding-left: 5px;
  margin-left: 13px;
  margin-bottom: 12px;
  /*for firefox arrow removal*/
  -moz-appearance: none;
  /*for chrome arrow removal*/
  -webkit-appearance:none;
}

/*for IE10 arrow removal*/
select::-ms-expand {
    display: none;
}

.down{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.selectArrow{    
  position: relative;
  top: -39px;
  right: 7px;
  height: 4px;
  width: 4px;
}

#save{
  border-radius: 5px;
  width: 43%;
  color: white;
  background-color: #7470BD;
  border: 0;
  margin-left: 13px;
}

#cancel{
  border-radius: 5px;
  width: 43%;
  color: white;
  background-color: gray;
  border: 0;
  margin-left: 3px;
}

/* 768px breakpoint */
@media screen and (min-width: 768px){
.sidebar,
.dashbar,
.alert,
.webTraffic,
.dailyTraffic,
.mobileUser,
.socialStats,
.newMembers,
.recentActivity,
.messageUser,
.settings {
  display: inline-block;
} 

/* nav 768px breakpoint*/

.bell{
  width: 1.5rem;
  height: 1.5rem;
}

span#vertLine {
  display: inline-block;
  height: 30px; 
}

span#myName {	
  font-size: 16px;
  vertical-align: 8px;	
}

div#circle{
  top: -20px;	
}

/* sidebar 768px breakpoint*/

.sidebar{
   position:absolute;
   top: 3.91rem; 
   bottom:0; 
   left:0;
   height: 83.4rem;
   width: 5rem;
   float: left;
 }
 
 /* dashboard 768px breakpoint*/

.dashboard{ 
  position: relative;  
  left: 5rem;
  width: calc((100% - 5rem) - 20px);
  height: 4rem;
}

textarea{
  width: 300px;
}

#mainSearch{
  left: 45px;
  width: 275px;
}

#buttonHolder{
  left: 11px;
}

/* alert 768px breakpoint*/
.alert{    
  position: relative;
  left: 5rem;
  width: calc((100% - 5rem) - 51px);
  margin: 5px 20px;  
  line-height: 22px;
  border-radius: 3px;    
  color: white;
  word-wrap: normal;
  padding-left: 15px;
}

#alertText{
  width: 95%;
}

/* traffic chart and option 768px breakpoint*/
#trafficChoice{
  position: relative;
  left: 5rem; 
  width: calc(100% - 5rem);  
}

#trafficName{
  margin-left: 19px;
  font-size: 15px;  
}

#trafficOption{
  width: 49%;
}

#trafficHour,
#trafficDay,
#trafficWeek,
#trafficMonth{
margin-right: 15px;
}

.webTraffic{  
  position: relative;
  left: 5rem;
  width: calc(100% - 5rem);
  height: 22rem;
}

#lineChart{
  /*Must take into account the text in the div above the chart itself */
  max-height: calc(400px - 17px);
  max-width: 100%;

}

/* traffic 768px breakpoint*/
.dailyTraffic{ 
  position: relative;
  left: 5rem;
  width: calc((100% - 5rem)/2);  
  height: 17rem;
  border: solid 1px #6F70A0;
}


.mobileUser{
  position: relative;
  left: calc(4.8rem + -1px);
  width: calc((50% - 2.5rem) - 4px);
  height: 17rem;  
  border: solid 1px #6F70A0;
}

canvas#doughChart {
  max-height: 17rem;
}

/* social stats 768px breakpoint*/
.socialStats{
  position: relative;
  left: 5rem;
  bottom: 4px;
  width: calc(100% - 5rem);
  height: 8rem;
}

.socialNum {    
  width: 31%;  
  margin: 0 5px;
  border: solid 1px #6F70A0;
}

.circle{
  height: 35px;
  width: 35px;
  border-radius: 30px;
  margin: 5px;
  padding: 10px;
  background-color: #6F70A0;
  position: relative;
  bottom: 4px;
}

.socialImg{
  height: 30px;
  width: 30px;
}

.twitterImg{
  top: 3px;
  left: 2px;
}

.fbImg{
  top: 3px;
  left: 2px;
}

.googleImg{  
  top: 3px;
  left: 2px;	
}

.socialName{
  font-size: 16px;
  padding-top: 10px;
}

.socialCount{
  font-size: 35px;
}

/* new members 768px breakpoint*/
 
.newMembers{  
  position: relative;
  bottom: 5px;
  left: 5rem;  
  width: calc(50% - 2.5rem);
  height: 14rem;
}

.member{
  border-bottom: solid 1px lightgray;
  width: 95%;
  margin-left: 5px;
}

.memImg{
  width: 27px;
  height: 27px;
  border-radius: 20px;
  position: relative;
  top: 10px;  
}

.memInfo{
  font-size: 10px;
  margin: 11px 0;
}

/* recent activity 768px breakpoint*/

.recentActivity{
  position: relative;
  bottom: 4px;
  left: calc(4.8rem + -1px);
  width: calc((50% - 2.5rem) - 4px);
  height: 14rem;
  border-bottom: none;  
}

.activeLog{  
  width: 95%;
  margin-left: 5px;
  border-bottom: solid 1px lightgray;
}

.activeDesc{  
  font-size: 9px;
  margin: 10px 0;
}

.arrow{
  margin-right: 0px;
  margin-top: 36px;
}

/* message user 768px breakpoint*/

.messageUser{
  position: relative;  
  bottom: 14px;
  left: 5rem;
  width: calc(50% - 2.5rem);
  height: 14rem; 
}


#userSearch{
  margin: 5px 16px;
  width: 87%;
  padding-left: 15px;
  border-radius: 3px;
  height: 25px;
}

#userMessage{
  height: 100px;
  margin: 5px 18px;
  width: 87%;
  resize: none;
  padding-left: 12px;
  border-radius: 3px;
}

#submitMessage{ 
  height: 25px;
  margin: 0px 19px; 
}

/* settings 768px breakpoint*/
.settings{
  position: relative;
  bottom: 17px;
  left: calc(4.8rem + -1px);
  width: calc((50% - 2.5rem) - 4px);
  height: 14rem; 
}

img{
  width: 1.75rem;
  height: 1.75rem;
}

.imgCenter{
  margin-top: 2rem;
  margin-left: 1.5rem;
}

select{
  height: 35px;
  margin-bottom: 15px;
}

.selectArrow{
  top: -82px;
  right: 21px;
  height: 10px;
  width: 10px;
}

#save{
  height: 35px;
}

#cancel{
  height: 35px;
}

}

@media screen and (min-width: 1024px){
	
/* sidebar 1024px breakpoint*/

.sidebar{
  height: 91.9rem;
}
img{
  width: 2rem;
  height: 2rem;
}

/* alert 1024px breakpoint*/

.alert {
  line-height: 45px;
  padding: 0 5px;
}

#alertText{
  line-height: 20px;
}

.close{
  position: relative;
  bottom: 6px;
  left: 4px;
}

/* traffic 1024px breakpoint*/

#trafficOption {
  width: 35%;
  margin-right: 15px;
}

#mainSearch{
  width: 400px;
}

/* traffic chart and option 1024px breakpoint*/
.webTraffic{
  height: 25rem;
}

/* traffic 1024px breakpoint*/
.dailyTraffic{
  height: 19rem;
}

/* mobile user 1024px breakpoint*/
.mobileUser{
  height: 19rem;
}

canvas#doughChart{
  max-height: 25rem;
}

/* social stats 1024px breakpoint*/
.socialStats{
  height: 9rem;
}

.circle{
  margin: 15px;
  bottom: 8px;
}

.socialImg{
  height: 35px;
  width: 35px;
}

.twitterImg,
.fbImg,
.googleImg {
  top: 0;
  left: 0;
}

.socialName{
  font-size: 18px;
}

.socialCount{
  font-size: 45px;
}

/* new members 1024px breakpoint*/

.webTraffic{
  height: 24rem;	
}

.newMembers{
  height: 17rem;
}

.memImg{
  width: 35px;
  height: 35px;
  top: 3px;
}

.memInfo{
  width: 91%;
  font-size: 15px;
}


/* recent activity 1024px breakpoint*/

.recentActivity{
  height: 17rem;
  bottom: 6px;
}

.recentTitle{
  margin-top: 1px;		
}

.arrow{
  width: 7px;
  height: 7px;
  margin-top: 39px;
}

.activeDesc{
  font-size: 13px;
  margin: 14px 0;
}

/* settings 1024px breakpoint*/

legend{
  padding-top: 10px;
}

#submitMessage{
  width: 91%;
}

.selectArrow{
  margin-top: 84px;
  position: relative;
  right: 29px;
}


#save,
#cancel{
  width: 45%;
  margin-left: 12px;
}

}
