.formLayout{
	margin-top: 20px;
	
}

.searchBox{
	width: 50%;
	margin-top: 20px;
    display: block;
	margin: auto;
}

.galleryLayout{
	margin-bottom: 20px;
		
}

.imgLayout{
	width: 80%;
	margin: auto;
    padding-top: 20px;
	display: block;	
}


div.lg-sub-html{
	padding-bottom: 20%;
}	


/* Media queries */

@media (min-width: 367px){
div.lg-sub-html{
	padding-bottom: 12%;
}	
	
}

@media (min-width: 768px){
  .galleryLayout {
	  width: 95%;
	  margin: auto;
	  
  }
  
  .imgLayout{
	width: 43%;
	display: inline-block;
	padding-left: 3rem;
 }
 	div.lg-sub-html{
	padding-bottom: 2%;
}	
 
} 
@media (min-width: 1024px){
  .galleryLayout{
	  width: 100%;	  
  }
  
  .imgLayout{
	  width: 17%;
	  height: 11rem;
	  padding-left: 5rem;
  }
  
  .searchBox{
	  width: 33%;
  }
  
  	div.lg-sub-html{
	padding-bottom: 0;
}	
	
}
 